#welcome-box, #game-box {
  height: 700px;
  width: 1000px;
  position: relative;
  margin: 0 auto;
  box-sizing: content-box;
}

#welcome-box #start-btn {
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#game-box #game-control button {
  border-radius: 0;
}

#game-box #game-body {
  height: calc(100% - 38px);
  border: 1px solid purple;
  display: flex;
  justify-content: center;
  position: relative;
}

#game-box #game-body > div {
  width: 70px;
  border-left: 1px solid black;
  box-sizing: content-box;
}

#game-box #game-body > div:last-child {
  border-right: 1px solid black;
}

#game-box #game-body .tower-path {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#game-box #game-body .tower-path .mem {
  background-color: orange;
  height: 70px;
  position: relative;
}

#game-box #game-body .tower-path .mem .range {
  background: blue;
  opacity: 0.1;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#game-box #game-body #enemy-path .enemy {
  position: absolute;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* #character {
  position: absolute;
  width: 25px;  
  height: 25px;
  background-image: url();
} */

/* .vert-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:  700px;
  border:  1px solid gold;
}

.mem {
  height: 50px;
  border: 1px dotted blue;
}

#enemy-lane {
  flex: 1 1 auto;
  border:  1px dotted purple;
}

#pause-btn {
  font-size: 20px;
}

#character {
  position: absolute
  width: 25px;  
  height: 25px;
  background-image: url();
}

/*#button {
  background-color: #4CAF50;
  border: none;
  width: 250px;
  float: left;
  height: 3em;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
  margin: 1px;
} */ */